*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Contenedor{
    border: 2px double greenyellow;
    display: grid;
    width: 500px;
    height: 400px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr) ;
    grid-template-areas:
    "caja2 caja3 caja1 caja1"
    "caja2  caja3 caja4 caja5"
    "caja6 caja6 caja4 caja5"; 

}
.caja{
    border: 1px solid magenta;
}
.caja1{
    grid-area: caja1;
}
.caja2{
    grid-area: caja2;
}
.caja3{
    grid-area: caja3;
}
.caja4{
    grid-area: caja4;
}
.caja5{
    grid-area: caja5;
}
.caja6{
    grid-area: caja6;
}