@import url('https://fonts.googleapis.com/css2? family= Nunito:wght@200;300;400;500;600;700;800;900 & display=swap');
.menu{color:cyan }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{list-style: none;

    font-weight: 900;
font-size: 25px;}

.menu li{display: inline;
margin-right: 10px;}
.menu li a{
    color: cyan;
}

.ingredientes{color: purple;}
.ingredientes{
    list-style-position: inside;
}
.parrafo{
    width: 50%;
    height: 500px;
    background-color: greenyellow;
    margin: 50px 25px 35px 45px;
    padding: 60px 70px 20px 45px;
    background-image: url("./../img/1366_2000.jpg") ;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    border-radius: 45px;
    
}
.parrafo p { 
    text-align: justify;
    line-height: 25px;
    text-decoration: double;
    text-decoration: underline double;
}